
{% extends 'base.html'%}
{% load static%}
{% block content %}


<div class="midde_cont">
  <div class="container-fluid">
     <div class="row column_title">
        <div class="col-md-12">
           <div class="page_title">
              <h2 class="text-muted">UPDATE YOUR PROFILE</h2>
           </div>
        </div>
     </div>
     {% include 'includes/message.html' %}
     <!-- row -->
     <div class="row column1">
        <div class="col-md-2"></div>
        <div class="col-md-8">
           <div class="white_shd full margin_bottom_30">
              <div class="full graph_head">
                 <div class="heading1 margin_0">
                    <h2>User Profile</h2>
                 </div>
              </div>
              <div class="full price_table padding_infor_info">
                 <div class="row">
                    <!-- user profile section --> 
                    <!-- profile image -->
                    <div class="col-lg-12">
                       <div class="full dis_flex center_text">
                          <div class="profile_contant">
                           <div class="card-body">                           
               
                             <form action="{%url 'profile'%}" method="POST" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="form-row">
                                  <div class="form-group col-12">
                                       <label >Full Name</label>  
                                       {{p_form.name}}
                                  </div>  
                              </div>
                              <div class="form-row">
                                 <div class="form-group col-md-6">
                                    <label >Username</label> 
                                    <input class="form-control" name="username" type="text" value="{{user.username}}" placeholder="Username" disabled/>
                                 </div>
                                 <div class="form-group col-md-6">
                                    <label >Upload Profile Image</label> 
                                    {{p_form.profile_image}}
                                    </div>
                              </div>
                              <div class="form-row">
                                 <div class="form-group col-12">
                                      <label >Email Address</label> 
                                      <input class="form-control" name="email" type="email" value="{{user.email}}" placeholder="Email Address" disabled/> 
                                 </div>
                              </div>
                              <div class="form-row">
                                 <div class="form-group col-12">
                                    <label >Permanent Address</label>
                                    {{p_form.address}}
                                 </div>
                              </div>
                              <div class="form-row">
                                 <div class="form-group col-6">
                                      <label >Phone Number</label> 
                                      {{p_form.phone_number}}
                                      </div>
                                 <div class="form-group col-6">
                                    <label >Select Gender</label>
                                    {{p_form.gender}} 
                                    </div>
                              </div>
                              <div class="form-row">
                                 <div class="form-group col-12">
                                    <label >Profile Details</label>
                                    {{p_form.profile_details}}
                                 </div>
                              </div>
                              <input type="submit" value="Save" class="btn btn-outline-primary float-right"/><br>
                          </form> 
                      
                      </div>
                      <hr><!-- row.// -->
                  </div>
               </div>
               </div>

            </div>
         </div>
      </div>
   </div>
           <div class="col-md-2"></div>
        </div>
        <!-- end row -->
     </div>
{% endblock %}
       



















