
{%load static%}





<script src="{%static 'js/jquery.min.js'%}"></script>
<script src="{%static 'js/popper.min.js'%}"></script>
<script src="{%static 'js/bootstrap.min.js'%}"></script>
<!-- wow animation -->
<script src="{%static 'js/animate.js'%}"></script>
<!-- select country -->
<script src="{%static 'js/bootstrap-select.js'%}"></script>
<!-- owl carousel -->
<script src="{%static 'js/owl.carousel.js'%}"></script> 
<!-- chart js -->
<script src="{%static 'js/Chart.min.js'%}"></script>
<script src="{%static 'js/Chart.bundle.min.js'%}"></script>
<script src="{%static 'js/utils.js'%}"></script>
<script src="{%static 'js/analyser.js'%}"></script>
<!-- nice scrollbar -->
<script src="{%static 'js/perfect-scrollbar.min.js'%}"></script>
<script>
var ps = new PerfectScrollbar('#sidebar');
</script>
<!-- custom js -->
<script src="{%static 'js/custom.js'%}"></script>
<script src="{%static 'js/chart_custom_style1.js'%}"></script>

<script src="{%static 'js/popper.min.js.map'%}"></script>


<script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script>
      window.jQuery ||
        document.write(
          '<script src="/docs/4.4/static/js/vendor/jquery.slim.min.js"><\/script>'
        );
    </script>
    <script
      src="/docs/4.4/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
     {% comment %} <script src="{% static 'js/main.js' %}"></script> {% endcomment %}