{%load static%}

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>HOREN EXPENSES</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->
    <link rel="icon" href="{%static 'img/favicon.ico'%}"/>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}" />
    <!-- site css -->
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
    <!-- responsive css -->
    <link rel="stylesheet" href="{%static 'css/responsive.css'%}" />
    <!-- color css -->
    <link rel="stylesheet" href="{%static 'css/color.css'%}" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="{%static 'css/bootstrap-select.css'%}" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="{%static 'css/perfect-scrollbar.css'%}" />
    <!-- custom css -->
    <link rel="stylesheet" href="{%static 'css/custom.css'%}" />
  
 </head>


{% block content %}
<!-- content -->
{%endblock%}


</div>
</div>
<!-- footer -->
{% include 'includes/auth_footer.html' %}